<%- include('../partials/header') -%>
<div class="container-lg dashboard">
    <div class="row dashboard">
        <div class="col-md-5 col-lg-4 p-4" id="vertical-navbar">
            <div class="img-thumbnail">
                <img class="img-dashboard" src="<%= user.avatar %>" alt="<%= user.username %>" />
                <div class="dashboard-name pt-2 pr-2">
                    <%= user.firstname + " " + user.lastname %>
                </div>
            </div>
            <div class="list-dashboard">
                <div class="list-header">
                    <strong> Your Campgrounds</strong>
                </div>
                <% if(campgrounds.length === 0) { %>
                <img src="/images/placeholder_images/thinking-man.svg" alt="thinking-man"
                    class="img-fluid placeholder_images" />
                <% } %>
                <ul>
                    <% campgrounds.forEach(campground => { %>
                    <li>
                        <a href="/campgrounds/<%= campground._id%>"> <%= campground.name%></a>
                        <span class="float-right">
                            <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                            <a href="/campgrounds/<%= campground._id %>/edit" class="btn primary effect btn-sm pr-0">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE"
                                method="POST">
                                <button type="submit" class="btn danger effect btn-sm">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </form>
                            <% } %>
                        </span>
                    </li>
                    <% }) %>
                </ul>
                <div class="list-header mt-5">
                    <strong>add new campground </strong>
                    <a class="float-right" href="/campgrounds/new">
                        <i class="btn primary effect fa fa-plus-square-o pl-0"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-8 p-4">

            <div class="dashboard-username"><%= user.username %>'s dashboard</div>
            <form class="mt-4">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstname" class="form-label"> Firstname </label>
                        <input class="form-control" readonly type="text" name="firstname" id="firstname"
                            value="<%= user.firstname %>" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastname" class="form-label"> Lastname </label>
                        <input class="form-control" readonly type="text" name="lastname" id="lastname"
                            value="<%= user.lastname %>" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="gender" class="form-label"> Sex </label>
                        <input class="form-control" readonly type="text" name="gender" id="gender"
                            value="<%= user.gender %>" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dob" class="form-label"> Date of Birth </label>
                        <input class="form-control" readonly type="date" name="dob" id="dob" value="<%= user.dob %>" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label"> Email </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                        </div>
                        <input class="form-control" readonly type="email" name="email" id="email"
                            value="<%= user.email %>" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="address" class="form-label"> Address </label>
                        <input class="form-control" readonly type="text" name="address" id="address"
                            value="<%= user.address.address %>" />
                    </div>
                    <div class="form-group col-6 col-md-3">
                        <label for="state" class="form-label"> State </label>
                        <input class="form-control" readonly type="text" name="state" id="state"
                            value="<%= user.address.state %>" />
                    </div>
                    <div class="form-group col-6 col-md-3">
                        <label for="country" class="form-label"> Country </label>
                        <input class="form-control" readonly type="text" name="country" id="country"
                            value="<%= user.address.country %>" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-auto">
                        <a href="/users/<%= user._id %>/edit" class="btn btn-primary">Edit Details</a>
                        <a href="/users/<%= user._id %>/profile" class="btn btn-primary"> View Profile </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<%- include('../partials/footer') -%>